{% extends "core/base.html" %}

{% block body %}
  <main class="container mx-auto">
    Leerming lite
    <a c
       class="py-3 px-6 font-sans text-xs font-bold text-white uppercase bg-teal-500 rounded-lg shadow-md transition-all hover:shadow-lg focus:shadow-none active:shadow-none disabled:shadow-none disabled:opacity-50 disabled:pointer-events-none middle none center shadow-teal-500/20 hover:shadow-pink-500/40 focus:opacity-[0.85] active:opacity-[0.85]"
       href="{% url 'account_login' %}">Login</a>
  </main>
{% endblock body %}
