<div id="upload-card"
     class="relative p-4 my-4 bg-white rounded-xl border shadow-sm md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
  {% block form %}
    <form hx-target="#upload-progress"
          hx-post="{% url "documents:upload" %}"
          id="upload-form"
          hx-encoding='multipart/form-data'>
      {{ form }}
    </form>
  {% endblock form %}
  <input hx-indicator=".htmx-indicator.upload"
         id="upload-button"
         form="upload-form"
         type="submit"
         value="{% trans "Soumettre" %}"
         class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white bg-blue-700 rounded-lg dark:bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:bg-blue-700 dark:focus:ring-blue-800" />
  {% if user_has_existing_documents %}
    <a hx-get="{% url "documents:select" %}"
       hx-target="#upload-card"
       hx-swap="outerHTML transition:true"
       class="inline-flex gap-2 justify-center items-center py-2.5 px-5 text-sm font-semibold text-white bg-gray-500 rounded-md border border-transparent transition-all cursor-pointer dark:bg-gray-700 hover:bg-gray-600 focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:outline-none dark:hover:bg-gray-600 dark:focus:ring-offset-gray-800">
      {% trans "Sélectionner existant" %}
    </a>
  {% endif %}
  <div id="upload-progress"></div>
  <div class="absolute top-0 left-0 w-full h-full rounded-md htmx-indicator upload bg-white/[.5] dark:bg-gray-800/[.4]">
  </div>
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 htmx-indicator upload">
    <div class="inline-block w-6 h-6 text-blue-600 rounded-full border-current animate-spin border-[3px] border-t-transparent"
         role="status"
         aria-label="loading">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
