{% extends "base.html" %}

{% load static %}

{% block extra_head %}
  <script src="{% static 'vendors/tom-select/tom-select.complete.min.js' %}"></script>
{% endblock extra_head %}
{% block content %}
  <div class="p-4 bg-white rounded-xl border shadow-sm md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <h1 class="mb-2 text-xl font-bold text-gray-800 dark:text-white">{% trans "Modifier votre profile" %}</h1>
    {% block form %}
      <form method="post" id="edit-form">
        {% csrf_token %}
        {{ form }}
      </form>
      <!-- <div class="flex items-center my-4 hs-tooltip">
                <input type="checkbox" id="hs-tooltip-example" class="relative h-7 bg-gray-100 rounded-full border-2 border border-transparent ring-1 ring-transparent ring-offset-white transition-colors duration-200 ease-in-out appearance-none cursor-pointer dark:bg-gray-700 checked:bg-blue-600 checked:bg-none focus:border-blue-600 focus:ring-blue-600 focus:outline-none sp_notify_prompt hs-tooltip-toggle shrink-0 w-[3.25rem] before:inline-block before:w-6 before:h-6 before:bg-white before:translate-x-0 before:shadow before:rounded-full before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:checked:bg-blue-600 dark:focus:ring-offset-gray-800 dark:before:bg-gray-400 dark:checked:before:bg-blue-200 checked:before:bg-blue-200 checked:before:translate-x-full" />
                <label for="hs-tooltip-example" class="ml-3 text-sm text-gray-500 dark:text-gray-400">Allow push
                    notifications</label>
                <div class="inline-block absolute invisible z-10 py-1 px-2 text-xs font-medium text-white bg-gray-900 rounded-md shadow-sm opacity-0 transition-opacity hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible dark:bg-slate-700" role="tooltip">
                    Enable push notifications
                </div>
            </div> -->
    {% endblock form %}
    <button form="edit-form"
            type="submit"
            class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white bg-blue-700 rounded-lg dark:bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      {% trans "Enrégister" %}
    </button>
  </div>
{% endblock content %}
{% block javascript %}
  <script>
    new TomSelect("#id_review_days", {
      plugins: {
        remove_button: {
          title: 'Remove this item',
        }
      },
      persist: false,
      createOnBlur: true,
      create: true
    });
    new TomSelect("#id_timezone");
  </script>
{% endblock javascript %}
