<div class="p-4 text-center sm:p-10 sm:py-6">
  <h3 class="mb-2 text-2xl font-bold text-gray-800 dark:text-gray-200">{% trans "Confirmer l'envoi" %}</h3>
  <ul class="flex flex-col max-w-xs">
    <li class="inline-flex gap-x-2 items-center py-3 px-4 -mt-px text-sm font-medium text-gray-800 bg-white border dark:text-white dark:bg-gray-800 dark:border-gray-700 first:mt-0 first:rounded-t-lg last:rounded-b-lg">
      {% trans "Destinataire" %} : <span class="font-bold text-blue-600 dark:text-blue-500">{{ recipient_email }}</span>
    </li>
    <li class="inline-flex gap-x-2 items-center py-3 px-4 -mt-px text-sm font-medium text-gray-800 bg-white border dark:text-white dark:bg-gray-800 dark:border-gray-700 first:mt-0 first:rounded-t-lg last:rounded-b-lg">
      {% trans "Nombre de cartes" %} : <span class="font-bold text-blue-600 dark:text-blue-500">{{ flashcard_count }}</span>
    </li>
    <li class="inline-flex gap-x-2 items-center py-3 px-4 -mt-px text-sm font-medium text-gray-800 bg-white border dark:text-white dark:bg-gray-800 dark:border-gray-700 first:mt-0 first:rounded-t-lg last:rounded-b-lg">
      {% trans "Sujet(s)" %} : <span class="font-bold text-blue-600 dark:text-blue-500">
      {% if topic_list %}
        {{ topic_list|join:", " }}
      {% else %}
        {% trans "Sans sujet" %}
      {% endif %}
    </span>
  </li>
</ul>
</div>
<div class="flex items-center">
  <button hx-post="{% url 'gifts:cancel_send' %}"
          class="inline-flex gap-2 justify-center items-center p-4 w-full text-sm font-semibold text-gray-800 bg-gray-100 rounded-bl-xl border border-transparent ring-offset-white transition-all dark:text-white dark:bg-gray-700 hover:text-blue-600 focus:ring-2 focus:ring-gray-100 focus:ring-offset-2 focus:outline-none dark:hover:bg-gray-600 dark:focus:ring-gray-600 dark:focus:ring-offset-gray-800"
          data-hs-overlay="#hs-cookies">{% trans "Annuler" %}</button>
  <button hx-post="{% url 'gifts:confirm_send' %}"
          class="inline-flex gap-2 justify-center items-center p-4 w-full text-sm font-semibold text-white bg-blue-500 rounded-br-xl border border-transparent transition-all hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:outline-none dark:focus:ring-offset-gray-800"
          data-hs-overlay="#hs-cookies">{% trans "Confirmer" %}</button>
</div>
