{% extends "base.html" %}

{% block body %}
  <div class="flex items-center py-16 h-full bg-gray-100 dark:bg-slate-900">
    <main class="p-6 mx-auto w-full max-w-md">
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li class="p-4 text-sm text-blue-600 bg-blue-50 rounded-md border border-blue-200"
                role="alert">
              <span class="font-bold">Info</span> {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </main>
  </div>
{% endblock %}
