{% extends "base.html" %}

{% load static %}

{% block breadcrumb %}
  {% trans "Cartes" as menu %}
  {% trans "Nouvelle Carte" as sub_menu %}
  {% include "partials/breadcrumb.html" with menu=menu sub_menu=sub_menu %}
{% endblock breadcrumb %}
{% block extra_head %}
  <script src="{% static 'vendors/tom-select/tom-select.complete.min.js' %}"></script>
{% endblock extra_head %}
{% block content %}
  <div class="flex justify-end mb-4">
    <div class="flex p-1 bg-gray-100 rounded-lg transition dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600">
      <nav class="flex space-x-2" aria-label="Tabs" role="tablist">
        <a href="{% url 'flashcards:create' %}"
           type="button"
           class="inline-flex gap-2 items-center py-3 px-4 text-sm font-medium text-gray-500 bg-transparent rounded-md dark:text-gray-400 hover:text-gray-700 hs-tab-active:bg-white hs-tab-active:text-gray-700 hs-tab-active:dark:bg-gray-800 hs-tab-active:dark:text-gray-400 dark:hs-tab-active:bg-gray-800 dark:hover:text-gray-300 hover:hover:text-blue-600"
           id="segment-item-2"
           data-hs-tab="#segment-2"
           aria-controls="segment-2"
           role="tab">Manuelle</a>
        <a href="{% url 'flashcards:create_from_document' %}"
           type="button"
           class="inline-flex gap-2 items-center py-3 px-4 text-sm font-medium text-gray-500 bg-transparent rounded-md dark:text-gray-400 hover:text-gray-700 hs-tab-active:bg-white hs-tab-active:text-gray-700 hs-tab-active:dark:bg-gray-800 hs-tab-active:dark:text-gray-400 dark:hs-tab-active:bg-gray-800 dark:hover:text-white hover:hover:text-blue-600 active"
           id="segment-item-1"
           data-hs-tab="#segment-1"
           aria-controls="segment-1"
           role="tab">Avancé</a>
      </nav>
    </div>
  </div>
  <div class="p-4 bg-white rounded-xl border shadow-sm md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="mb-4">
      <h1 class="text-xl font-bold text-gray-800 dark:text-white">
        {% translate "Générer des cartes a partir de vos documents" %}
      </h1>
      <p class="mt-1 text-sm font-medium text-gray-500 dark:text-gray-500 md:text-md">
        {% blocktrans %} Avec ce formulaires, vous pouvez automatiquement générer des cartes a partir de vos
                    documents. Vous pourrez modifier les cartes générer avant qu'elle ne soit
                    enregistrer. La qualité des cartes généré peut dépendre de plusieurs facteurs, la qualité du
                    documents de base, la question centrale et autres facteurs, ce n'est pas un processus
                    déterministe, nous recommandans donc de primer les cartes manuelle quand c'est possible.
                {% endblocktrans %}
      </p>
    </div>
    {% partialdef form inline=True %}
    <form id="create-form"
          hx-post="{% url "flashcards:create_from_document" %}"
          hx-include="[name='document']"
          hx-indicator="#loading-circle">
      {% include "forms/field.html" with field=form.card_type %}
      {% include "forms/field.html" with field=form.topic %}
      {% include "forms/field.html" with field=form.key_question %}
    </form>
  {% endpartialdef form %}
</div>
<div hx-get="{% url "documents:index" %}"
     hx-target="this"
     hx-swap="innerHTML transition:true"
     hx-trigger="load"></div>
<button form="create-form"
        type="submit"
        id="submit-btn"
        class="inline-flex hidden gap-2 justify-center items-center py-2.5 px-5 mt-2 mr-2 mb-5 w-full text-sm font-medium text-white bg-blue-700 rounded-md dark:bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:bg-blue-700 dark:focus:ring-blue-800">
  <span id="loading-circle"
        class="inline-block w-4 h-4 text-white rounded-full border-current animate-spin htmx-indicator border-[3px] border-t-transparent"
        role="status"
        aria-label="loading"></span>
  {% trans "Générer" %}
</button>
{% endblock content %}
{% block javascript %}
  <script>
    new TomSelect("#id_topic", {
      create: true,
      sortField: {
        field: "text",
        direction: "asc"
      }
    });

    let submitBtn = document.getElementById("submit-btn");

    document.addEventListener("showSubmitBtn", e => {
      submitBtn.classList.remove("hidden");
    })
    document.addEventListener("hideSubmitBtn", e => {
      submitBtn.classList.add("hidden");
    })
  </script>
{% endblock javascript %}
